.label {
  font-size: 1.8rem;
  font-weight: bold;
}

.input {
  background-color: transparent;
  text-align: center;
  color: var(--text-over-primary);
  font-size: medium;
  padding: 0.8rem 3.2rem;
  border: none;
  border-bottom: 0.2rem solid var(--primary);
  border-radius: 0.6rem;

  transition: all 0.8s ease-in-out;
}

.input::placeholder {
  color: var(--gray-200);
  font-size: medium;
  font-style: italic;
}

.input:focus {
  outline: 0.2rem solid var(--primary); /* Ou outra cor de destaque */
  border-color: transparent; /* Esconde a borda padrão para não ter duas bordas */
}

.input:disabled {
  border: 0.2rem solid var(--disabled);
  color: var(--text-disabled);
}
